<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start header -->
<div id="header">
 <div id="logo">
	<h1><a href="#">WELCOME</a></h1>
	<h2>THE BEST PLACE TO SHARE</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/blog">BLOG</a></li>
			<li><a href="http://www.ipu.ac.in">GGSIPU</a></li>
			<li><a href="http://www.facebook.com">Fb</a></li>
			<li><a href="http://www.google.com">Google</a></li>
		</ul>
	</div>
	
<!-- end header -->
</div>
<br/>
<p id="text">
A blog is your personal diary. It is basically one of the most effective channel for sharing your thoughts, experiences and  ideas with the world. In an age like today a blog is your door to door service for flow of information, conveying messages etc. Blogs are very useful in almost every field where thoughts and ideas need to be shared between groups of people. It is basically a reflection of your mind, what you think,  you write  and publish  and instantly it is available to whoever is interested in following your thinking, your opinions. People can comment on your tweets, providing suggestions in case you are asking for it, criticize you in case they find you wrong somewhere etc.
In the contemporary scenario, time equals money, hence a blog is like a free portal that makes you feel as if you are sharing on personal basis. </p>

<hr />

<!-- start page -->

</body>
</html>
